<h1>All Questions</h1>
<ul class="list-group">
    <% @questions.each do |question| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <a href="<%=question_path(question) %>">
            <h3 class="panel-title"><%=  question.title %></h3>
          </a>
        </div>
        <div class="panel-body">
          <%= question.content %>
          <hr>
          <%= time_ago_in_words(question.created_at) %>
        </div>
      </div>
  <% end %>
</ul>
